.main{
    overflow-x: hidden;
}

.header{
    padding: 0 20px;
    display: flex;
    width: 100%;
    background-color: #fff;
    height: 80px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
}

.header__mobile-tablet{
    display: none;
}

.header__PC{
    position: relative;
    width: 100%;
}

.header-logo{
    display: flex;
    align-items: center;
    height: 100%;
    position: absolute;
}

.header-logo-img{
    width: 151px;
}

.header-list{
   list-style-type: none;
   display: flex;
   height: 80px;
   justify-content: space-between;
   margin: 0 auto;
   padding: 0;
   align-items: center;
}

.header-item{
   display: block;
   position: relative;
   padding: 27.5px;
   cursor: pointer;
}

.header-item-link{
    text-decoration: none;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2.6rem;
    display: block;
    color: var(--bold-color);

}

.header-list-icon{
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
}

.header-icon{
    font-size: 25px;
    padding: 0 10px;
    position: relative;
}

.header-item-list{
    display: none;
    position: absolute;
    padding-left: 0;
    top: 100%;
    list-style: none;
    padding: 15px 0 20px 0;
    width: 257px;
    background-color: #fff;
    box-shadow: 5px 8px 13.92px 2.08px rgb(0 0 0 / 5%);
    left: -10px;
}

.header-item-child{
    font-size: 1.5rem;
    line-height: 2.5rem;
    padding: 8px 38px;
    font-weight: 500;
}

.header-item-child-link{
    text-decoration: none;
    display: inline-block;  
}

.header-item:hover .header-item-list{
    display: block;
}

.header-item-list__big{
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    padding: 20px 0;
    list-style-type: none;
    box-shadow: 5px 8px 13.92px 2.08px rgb(0 0 0 / 5%);
    display: none;
    background-color: #fff;
}

.header-item-sublist__big{
    list-style-type: none;
    font-size: 1.4rem;
    line-height: 2.4rem;
}

.header-item-child-big{
    padding: 8px;
}

.header-item-child-big a{
    font-size: 1.4rem;
    line-height: 2.4rem;
    font-weight: 500;
}

.header-item-child-big:first-child{
    padding-bottom: 30px;
}

.header-item-child-big:first-child a{
    color: var(--blue-color);
}

.header-item:hover .header-item-list__big{
    display: block;
}

.header-icon:hover{
    color: var(--blue-color);
    cursor: pointer;
    position: relative;
}

.header-icon-cart-list{
    list-style: none;
    position: absolute;
    padding-left: 24px;
    right: 0;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 27px;
    width: 280px;
    display: none;
    box-shadow: 5px 8px 13.92px 2.08px rgb(0 0 0 / 5%);
    background-color: #fff;
}

.header-icon-cart-list::before{
    content: "";
    position: absolute;
    top: -28px;
    right: 0;
    height: 34px;
    width: 80px;
}

.header-cart-products{
    font-size: 1.4rem;
    line-height: 2.4rem;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    color:rgb(70, 70, 70);
    cursor: default;
}

.header-icon-cart:hover .header-icon-cart-list{
    display: block;
}


/* Container */

.container{
    margin-top: 80px;
    width: 100%;
}

.container-img__top{
    background-image: url("../img/img-2.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 420px;
    width: 100%;
    position: relative;
    object-fit: cover;
    text-align: center;
    display: flex;
    align-items: center;
}

.container-img__top-content{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    flex: 1;
    user-select: none;
}

.container-img__top-sub-heading{
    font-family: 'Satisfy', cursive;
    font-size: 5rem;
    line-height: 5rem;
    font-weight: 500;
    margin: 0;
}

.container-img__top-heading{
    font-size: 110px;
    line-height: 110px;
    font-weight: 600;
    margin: 0;
}

.container-img__top-text{
    font-size: 1.8rem;
    line-height: 1.8rem;
    margin-left: 20%;
    margin-right: 20%;
    position: relative;
    top: 20px;
}



.container-map__content{
    margin: 20px 10px;
    overflow: hidden;
}

.container-map__img{
    transform: scale(1.001, 1.001);
    object-fit: cover;
    z-index: 0;
    padding: 0;
    margin: 0;
    height: 100%;
    transition: all 0.8s ease-out;
    display: block;
    cursor: pointer;
    width: 100%;
}

.container-map__category{
    display: flex;
    justify-content: space-around;
    font-size: 1.4rem;
    height: 40px;
    align-items: center;
    background: linear-gradient(to right, #14b9d5 0%, #14d5b1 100%);
    color: white;
}


.container-map__text-box{
    padding: 31px 25px 33px 25px;
    box-shadow: 5px 8px 13.92px 2.08px rgb(0 0 0 / 5%);

}

.container-map__text-box-heading{
    margin: 0;
    font-size: 2.2rem;
    line-height: 2.4rem;
    font-weight: 600;
    color: rgb(33,33,33);
    cursor: pointer;

}

.container-map__text-box-description{
    font-size: 1.4rem;
    line-height: 2.4rem;
    font-weight: 400;
    color: rgb(80,80,80);
}

.container-map__text-box-infor{
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;
    line-height: 2.4rem;
    font-weight: 600;
}

.container-map__img:hover{
    transform: scale(1.04, 1.04);
}

.container-map__location span{
    cursor: pointer;
    position: relative;
}

.container-map__location-text::before{
    content: "";
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: white;
    transition: width 0.3s ease-out;
    -webkit-transition: width 0.3s ease-out;
    -moz-transition: width 0.3s ease-out;
    -o-transition: width 0.3s ease-out;
}

.container-map__location-text:hover.container-map__location-text::before{
    width: 100%;
}

.container-map__navigation{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    height: 24px;
}

.container-map__nav{
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: var(--blue-color);
    margin: 0 12px;
    transition: all 0.3s ease-out;
    opacity: 0.6;
    cursor: pointer;
}

.container-map__nav--active{
    opacity: 1;
}

.container-map__nav:hover {
    opacity: 1;
}



.container-white{
    text-align: center;
}


.container-white__header{
    padding: 110px 0 47px 0;
}

.container-white__sub-heading{
    font-family: 'Satisfy', cursive;
    font-size: 3.6rem;
    line-height: 6rem;
    color: var(--blue-color);
    font-weight: 500;
    margin: 0;
}

.container-white__heading{
    font-size: 6rem;
    line-height: 7rem;
    font-weight: 600;
    color: var(--bold-color);
    margin: 0;
}

.container-white__text{
    padding: 32px 0 36px 0;
    width: 724px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    font-size: 1.5rem;
    margin-top: 14px;
    margin-bottom:14px;
    line-height: 2.5rem;
    font-weight: 400;
    color: rgb(80,80,80);
}

.container__trailer-btn{
    display: flex;
    justify-content: center;
    margin-bottom: 125px;
}

.container-img__review{
    background-image: url("../img/img-2.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: relative;
    object-fit: cover;
    text-align: center;
    display: flex;
    align-items: center;
    background-attachment: fixed;
    flex-direction: column;
    
}

.container-img__review-content{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    flex: 1;
    user-select: none;
    width: 100%;
}

.container-img__review-heading{
    font-size: 6rem;
    line-height: 6rem;
    font-weight: 600;
    margin: 115px 0 0 0;
}

.container-img__review-text{
    font-size: 1.8rem;
    line-height: 3rem;
    margin-left: 25%;
    margin-right: 25%;
    position: relative;
    top: 20px;
    text-align: center;
}


.container-img__review-users{
    width: 100%;
}

.container-img__review-user{
    display: flex;
    background-color: white;
    margin: 25px 0;
    padding: 40px 9% 40px;
    border-radius: 5px;
}

.container-img__review-user-photo{
    margin-right: 21px;
}

.container-img__review-user-content{
    text-align: left;
}

.container-img__review-user-name{
    font-size: 2rem;
    font-weight: 600;
    color: var(--bold-color);
    margin-bottom: 5px;
    transition: all 0.2s ease-in-out;
}

.container-img__review-user-name:hover{
    color: var(--blue-color);
    cursor: pointer;
}

.container-img__review-user-rate{
    font-size: 13px;
    color: var(--blue-color);
    height: 24px;
    margin-top: 11px;
}

.container-img__review-user-comment{
    margin-top: 10px;
    font-size: 1.5rem;
    line-height: 2.5rem;
    font-weight: 400;
    color: rgb(80,80,80);
}

.container-img__review-user-footer{
    margin-top: 12px;
    font-weight: 600;
    font-size: 1.5rem;
    line-height:2.5rem;
    color: var(--bold-color);
}

.container-img__review-user-photo{
    object-fit: contain;
    height: 100%;
}

.container-white__header-winter-holiday{
    padding-bottom: 0;
}

.container-white__heading-winter-holiday{
    padding-bottom: 0;
    font-size: 6.5rem;
    line-height: 7rem;
    color: var(--bold-color);
}

.container-white__text-winter-holiday{
    margin-top: 0;
    padding-top: 10px;
    width: 500px;
    font-size: 1.8rem;
    line-height: 2.8rem;
}

.container-custom-item{
    margin-bottom: 164px;
}

.container-custom-icon-item{
    transition: all 0.3s ease-out;
}

.container-custom-icon-item:hover{
    transform: translateY(-5px);
}

.container-custom-item-heading{
    font-size: 1.8rem;
    line-height: 2.4rem;
    font-weight: 600;
    color: var(--bold-color);
    margin-top: 26px;
}

.container-custom-item-description{
    margin: 16px auto 0 auto;
    width: 180px;
    font-size: 1.4rem;
    line-height: 2.4rem;
    color: rgb(80,80,80);
    font-weight: 500;
}

.container-user-select-1,
.container-user-select-2,
.container-user-select-3,
.container-user-select-4{
    background-size: cover;
    height: 480px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
}

.container-user-select-1{
    background-image: url("../img/our-team-img-6-1.jpg");
}

.container-user-select-2{
    background-image: url("../img/our-team-img-7-1.jpg");
}
.container-user-select-3{
    background-image: url("../img/our-team-img-8-1.jpg");
}
.container-user-select-4{
    background-image: url("../img/our-team-img-9.jpg");
}

.container-user-content{
    padding: 22px 25px 26px;
    color: white;
    background: var(--primary-color);
    transition: all 0.4s ease-out;
    height: 0;
    opacity: 0;

}

.container-user-select-1:hover .container-user-content{
    height: 170px;
    opacity: 1;
}

.container-user-select-2:hover .container-user-content{
    height: 170px;
    opacity: 1;
}
.container-user-select-3:hover .container-user-content{
    height: 170px;
    opacity: 1;
}
.container-user-select-4:hover .container-user-content{
    height: 170px;
    opacity: 1;
}




.container-user-name{
    font-size: 1.8rem;
    line-height: 2.4rem;
    font-weight: 700;

}

.container-user-text{
    padding: 0 10px;
    margin-top: 10px;
    font-size: 1.4rem;
    line-height: 2.4rem;
}

.container-user-social{
    margin-top: 14px;
    font-size: 20px;
}

.container-user-social i{
    margin: 0 4px;
}


.container-user-statistic{
    height: 245px;
    background-color: #3abdc1;
    color: white;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.container-user-statistic__number{
    font-size: 6.5rem;
    font-weight: 700;
    line-height: 2.4rem;
}

.container-user-statistic__type{
    margin-top: 30px;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2.4rem;
}

.container__location{
    padding-bottom: 130px;
}

.container__location-item{
    width: 100%;
    border-radius: 100%;
    display: block;
    text-decoration: none;

    position: relative;
}

.container__location-img{
    object-fit:contain;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    transform: scale(1.001);
    border-radius: 100%;
    display: block;
    filter: brightness(78%);
    padding: 40px;
    transition: all 0.5s ease-in-out;
}

.container__location-item-name{
    position: absolute;
    text-decoration: none;
    top: 42%;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 5rem;
    font-family: 'Satisfy', cursive;
    font-weight: 400;
    color: #fff;
}

.container__location-item:hover .container__location-img{
    transform: scale(1.03);
}


.footer{
    background-color: #212121;
    padding: 106px 80px 78px;
}

.footer-logo{
    width: 263px;
}

.footer-text{
    color: #a9a9a9;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.4rem;
    width: 100%;
}

.footer-contact{
    display: block;
    text-decoration: none;
    color: white;
    font-size: 1.4rem;
    line-height: 2rem;
    margin-bottom: 8px;
    transition: all 0.3s ease-out;
}

.footer-contact:hover{
    color: var(--blue-color);
}


.footer-contact-icon{
    font-size: 1.8rem;
    padding-right: 10px;
}

.contact-text{
    font-size: 1.6rem;
    line-height: 2.2rem;
}


.footer-heading{
    color: white;
    font-size: 2rem;
    line-height: 2.4rem;
    font-weight: 600;
    margin-bottom: 2.8rem;
}

.footer-recent-posts{
    margin-bottom: 30px;
}

.recent-post-content{
    color: #a9a9a9; 
    display: block;
    text-decoration: none;
    font-size: 1.4rem;
    line-height: 2.4rem;
    margin-top: 10px;
    transition: all 0.3s ease-out;
}

.recent-post-content:hover{
    color: var(--blue-color);
}


.recent-post-time{
    color: #fff;
    margin-top: 10px;
    font-size: 1.4rem;
    line-height: 1.4rem;
    text-decoration: none;
    display: block;
    transition: all 0.3s ease-out;

}

.recent-post-time:hover{
    color: var(--blue-color);
}

.footer-sub-heading{
    font-size: 1.4rem;
    line-height: 2.4rem;
    color: #a9a9a9; 
    margin-bottom:25px;
}

.footer-input__user{
    position: relative;
    color: white;
    margin-bottom: 6px;
}

.footer-input__user-icon{
    position: absolute;
    font-size: 15px;
    top: 32%;
    left: 5%;
}

.footer-input__text{
    padding: 12px 16px 12px 46px;
    background-color: #595959;
    color: white;
    caret-color: white;
    height: 50px;
    outline: none;
    border: none;
    width: 100%;
    font-size: 1.4rem;
    line-height: 2.4rem;
}

.footer-input__text::placeholder{
    color: white;
    font-size:1.4rem;
    line-height: 2.4rem;
}

